In [ ]:
#Import Libraries
import pandas as pd
import matplotlib as plt

In [ ]:
#Read CSV file into dataframe
df_vehicles = pd.read_csv('vehicles_us.csv')

#Call info to be understand datatypes in dataframe:
df_vehicles.info()
df_vehicles.describe()

df_vehicles

Now, we will perform some EDA beginnning with checking for null values in certain columns and duplicated values.  A partiulcar focus will be made on the price and days_listed columns due to the fact that these contain the most useful information in assessing a particular vehicle.

In [ ]:
# Check for Duplicated Values and null values
vehicle_duplicates = df_vehicles[df_vehicles.duplicated]

#Empty dataframe is return, therefore there are no duplicates
print(vehicle_duplicates)

#Checking for null values in various columns:
price_null = df_vehicles[df_vehicles['price'].isnull()]
days_listed_null = df_vehicles[df_vehicles['days_listed'].isnull()]
model_year_null = df_vehicles[df_vehicles['model_year'].isnull()]
model_null = df_vehicles[df_vehicles['model'].isnull()]




#In the model_year column, we have null values.  Without these values, we cannot accurately assess a cars values, as there are notable differences between years 
#These empty columns will be dropped:
print(price_null)
print(days_listed_null)
print(model_year_null)
print(model_null)

df_vehicles = df_vehicles.dropna(subset=['model_year'])

In [ ]:
#Change data types to be more descriptive of the column:
df_vehicles['model_year'] = df_vehicles['model_year'].astype(int)
# df_vehicles['is_4wd'] = df_vehicles['is_4wd'].astype()

df_null = df_vehicles['is_4wd'][df_vehicles['is_4wd'].isnull()]
not_null = df_vehicles['is_4wd'][df_vehicles['is_4wd'] == 1.0]



"""
The sum of the null values plus the sum of those equal to 1.0 is the same as the total amount.  
Thus, the null values could better represented by the number 0 and type int.
"""
df_vehicles['is_4wd'] = df_vehicles['is_4wd'].fillna(0)
df_vehicles['is_4wd'] = df_vehicles['is_4wd'].astype(int)


#Now change date_posted to date_time data type

df_vehicles['date_posted'] = pd.to_datetime(df_vehicles['date_posted'])

In [ ]:
"""
Many of the years are rather old and don't appear accurate. 
For example, the F150 does not go back to the early 1900s.
Let's filter for years newer than 2000 to determine the 
average price per model.
"""

df_vehicles_post2000 = df_vehicles[df_vehicles['model_year'] > 2000]
avg_price_model = df_vehicles_post2000.groupby(['model'])['price'].mean().reset_index()

print(avg_price_model)

#Find vehicle after 2000 with highest and lowest average price:
max_price = max(avg_price_model['price'])
low_price = min(avg_price_model['price'])

#Provide a bar graph based on condition of Vehicle:
#First check for null values: 
condition_null  = df_vehicles[df_vehicles['condition'].isnull()]
print(condition_null)

#No nulls present.  Now we will graph according to condition:

df_vehicles.plot(
    kind='bar',
    x='condition',
    y='price'
    
)

                model         price
0            acura tl   6503.968326
1              bmw x5  10909.439024
2       buick enclave  11619.428016
3   cadillac escalade  17813.080420
4    chevrolet camaro  13710.657143
..                ...           ...
95      toyota sienna   9125.850340
96      toyota tacoma  16338.977401
97      toyota tundra  15196.799257
98   volkswagen jetta   6517.840336
99  volkswagen passat   8592.980952

[100 rows x 2 columns]
Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []